<div class="card-header type-text">
  <div class="row">
    <div class="col-md-8">
        <%= link_to type.title, type_path(type) %>
    </div>
    <div class="col-md-2">
      <%= link_to link_to fa_icon('pencil'), edit_type_path(type), class: "btn fa-size" %>
    </div>
    <div class="col-md-2">
      <%= link_to fa_icon('trash'), root_path, class: "btn fa-size" %>
    </div>
  </div>
</div>