<div class="album text-muted">
  <div class="container portfolio-container">
    <div class="type-center">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title">Edit category name</h1>
      </div>

      <div class="card-body">
        <%= render 'form', pic: @pic %>
      </div>
    </div>
  </div>
</div>
