<div class="album text-muted">
  <div class="container portfolio-container">
    <div class="card">
      <div class="card-header">
        <h1><%= @type.title %> Pictures</h1>
      </div>
    </div>
    <div class="col-wrapper">
      <% @type.pictures.each do |picture| %>
        <%= link_to (image_tag img_check(picture.image, 'image_holder')), picture, class: "img-pin" %>
      <% end %>
    </div>
  </div>
</div>