<div class="blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <div class="card">
      <div class="card-body">
        <%= link_to "All Images", pictures_path, class: 'btn btn-dark btn-lg btn-block sidebar-btn' %>
        <%= link_to "Create New Image", new_picture_path, class: 'btn btn-dark btn-lg btn-block sidebar-btn' %>
      </div>
    </div>
  </div>

  <!-- <div class="sidebar-module">
    <h4><%#= link_to 'Topics', topics_path, class: 'topic-style' %></h4>
    <%# @side_bar_topics.each do |topic| %>
    <p><%#= link_to topic.title, topic_path(topic) %></p>
    <%# end %>
  </div> -->
</div>