<div class="album text-muted">
  <div class="container portfolio-container">
    <div class="row">
      <div class="col-md-6">
        <div class="card home-card">
          <div class="card-body">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
<!--                 <div class="carousel-item active">
                  <%#= image_tag "_D8504581.jpg", width: '100%', class: "d-block w-100" %>
                </div>
                <div class="carousel-item">
                  <%#= image_tag "Aston_Martin1.jpg", width: '100%', class: "d-block w-100" %>
                </div> -->
                <div class="carousel-item active">
                  <% Picture.all.each do |picture| %>
                    <div>
                      <%= image_tag picture.image, width: '100%', class: "d-block w-100" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <%= render 'shared/sidebar' %>
      </div>
    </div>
  </div>
</div>
