<div class="album text-muted">
  <div class="container portfolio-container">
    <div class="center-card-pic-form">
      <div class="card new-card">  
        <div class="card-header">
          <h3>Add a New Picture</h3>
        </div>
        <div class="card-body">
            <%= render 'form', pic: @pic %>
        </div>
      </div>
    </div>
  </div>
</div>