@import "bootstrap";
@import "gritter";
@import "font-awesome";

html {
  min-height: 100%;
  position: relative;
}
body {
  background: linear-gradient(to bottom, #ddccff, #5200cc);
  height: 100%;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #ddccff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.nav-color {
  background-color: #ccb3ff;
}

.nav-title {
  margin-right: 25px;
}

.portfolio-container {
  padding-top: 65px;
}

.col-wrapper {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 10px;
  column-fill: auto;
}

.img-pin img {
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.img-pin {
  display: inline-block;
  background-color: lightgray;
  border: 2px solid lightgray;
  margin: 0px 2px 15px 0px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px 15px 5px 15px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  min-width: 330px;
  max-width: 330px;
  min-height: 365px;
  max-height: 365px;
}

.img-pin:hover {
  border-radius: 20px;
  cursor: pointer;
}

.home-card {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 25px;
  min-width: 80%;
}

.pic-show-card {
  padding: 25px 25px 0px 25px;
  margin-left: 30px;
  min-width: 420px;
  max-width: 420px;
  position: relative;
  left: 67%;
  transform: translateY(2%);
}

.new-card {
  width: 200%;
}

.new-card-head {
  margin-top: 15%;
  text-align: center;
}

#background-img-rose-1 {
  position: fixed;
  top: 85%;
  left: 90%;
  width: 200px;
  height: 200px;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('RedRose2.svg.png') no-repeat;
  background-size: 50%;
}

#background-img-rose-2 {
  position: fixed;
  top: 85%;
  left: 10%;
  width: 200px;
  height: 200px;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  background: image-url('RedRose2.svg.png') no-repeat;
  background-size: 50%;
}

.nav-tabs:hover {
  background-color: #9966ff;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-top-left: 6px;
  -moz-border-radius-top-right: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.nav-tabs.active {
  background-color: #bb99ff;
  border-left: 1px solid #8D8B99;
  border-right: 1px solid #8D8B99;
  border-top: 1px solid #8D8B99;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-top-left: 6px;
  -moz-border-radius-top-right: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: -1px;
}

.type-card {
  width: 292%;
}

.cat-head {
  text-align: center;
}

.type-text {
  text-align: center;
}

.type-text a {
  color: #b3b3cc;
}

.type-text:hover {
  background-color: #e0e0eb;
}

.type-text:hover a {
  text-decoration: none;
  color: #33334d;
}

.type-form {
  width: 145%;
}

.fa-size {
  font-size: 1.3rem;
}

.center-card {
  position: relative;
  left: 35%;
  transform: translateY(5%);
}

.center-card-pic-form {
  position: relative;
  left: 55%;
  transform: translateY(5%);
}

.justify-center {
  margin-left: 28%;
}

.type-center {
  position: relative;
  left: 90%;
  transform: translateY(25%);
}

.card-type-header {
  margin-left: 10px;
  margin-right: 45px;
}

.carousel-pic {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.page-item a {
  color: #b3b3cc;
}

.page-item:hover a {
  text-decoration: none;
  color: black;
}

.page-item.active .page-link {
  background-color: #b3b3cc;
  border-color: #b3b3cc;
}

.page-item.active:hover a {
  color: black;
}


.pic-row {
  margin-bottom: 10px;
}

.nav-link {
  display: inline;
  padding: .65rem 1rem;
}

.logout:hover {
  background-color: #9966ff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display: inline;
  padding-top: .65rem;
  padding-bottom: .65rem;
}